out
node_modules
.vscode-test/
coverage/
*.vsix

# Sentry Config File
.sentryclirc
config.ts
database
files
webviewUi/dist/**
samples
patterns
scripts
lancedb
dist
.codebuddy/checkpoints.db
.codebuddy
