out
node_modules
.vscode-test/
*.vsix

# Sentry Config File
.sentryclirc
config.ts
database
files
webviewUi/dist/**
samples
patterns
# CodeBuddy
.codebuddy/*
!.codebuddy/skills/
!.codebuddy/rules/
!.codebuddy/prompts/
!.codebuddy/config.json
lancedb
dist