name: CI Pipeline

on:
  pull_request:
    branches: [main, development, dev]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Generate diff
        run: git diff "origin/${{ github.base_ref }}" HEAD > diff.txt

      - name: Upload diff artifact
        uses: actions/upload-artifact@v4
        with:
          name: git-diff
          path: diff.txt

      - name: Setup Node.js
        uses: actions/setup-node@v4 # Use v4 for latest features. Can also specify version this way
        with:
          node-version: "20" # Use a more recent LTS version
          cache: 'npm' # Enable caching for npm dependencies
          cache-dependency-path: 'src/package-lock.json' # Where package-lock.json is
      - name: ci for api
        working-directory: ./src
        run: |
          npm ci # Use npm ci for faster and cleaner installs based on package-lock.json
          npm run compile
          npm run format
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}